@font-face {
  font-family: 'crushed';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/crushed.ttf')  format('truetype')
}

.logo {
    text-align: left;
    color: black;
    font-family:crushed;
    font-size: 25pt;
    margin: 20px;
}

.logo_big {
    text-align: center;
    color: black;
    font-family:crushed;
    font-size: 75pt;
    margin-top: 15%;
    margin-bottom: 0px;
}

.logo_med {
    text-align: center;
    color: black;
    font-family:crushed;
    font-size: 45pt;
    margin-top: 10%;
    margin-bottom: 0px;
}

a.logo {
    text-align: left;
    color: black;
    font-family:crushed;
    font-size: 25pt;
    margin: 20px;
   	text-decoration: none;
}

a.detailsIcon{
	text-align: center;
	color: black;
	text-decoration: none;
}
