<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>


	<!-- Look up this class inside the context.xml file under META-INF -->
	<!-- <resource-ref>
		<res-ref-name>jdbc/tagger</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref> -->

	<!-- Servlets -->
	<!-- <servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/jsp/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->

	<!-- Error pages -->
	<error-page>
		<location>/erro.jsp</location>
	</error-page>

</web-app>
